<!-- views/partials/footer.ejs -->
<footer class="footer">
    <p>© 2020 El sitio de  la alumna Dulce Silva .</p>
    <i class="fab fa-twitter"></i>
    <a class="twitter-follow-button"
  href="https://twitter.com/TwitterDev"
  data-size="large">
    Follow @TwitterDev</a>

    </footer>