<!-- views/partials/footer.ejs -->
<head>
  <link rel="stylesheet" href="partials/estilos.css">
</head>

<footer class="container-fluid text-center" id ="pie">
    <p id= "fo"></p>© KPOPZONE  2020 Derechos Reservados </p>
    <a class="twitter-follow-button"
    href="https://twitter.com/MaraSil88520627"
    data-show-screen-name="MaraSil88520627"
    data-show-count="MaraSil88520627"
    data-size="large" >Follow @MaraSil88520627
  
    </footer>