<title>KPOPZONE
    <%= page %>
    </title>
    <meta charset="utf-8">
    <meta name="active-menu" content="<%= menuId %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="images/logo1.png" />
    <meta name="google-signin-client_id" content="333698015627-e97nvrbpk7es5ahq4d2nnk6hj5omsc8j.apps.googleusercontent.com">
    <!--bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    
     <!-- Mapquest.GL estilos -->
     <link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/mapquest-gl-js/v0.4.0/mapquest-gl.css"/>

     <meta name="robots" content="noindex">
     <!--habilitar el banner de consentimiento de las cookies -->
     <!-- <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="9463e099-ca2e-4d38-9a19-58e63f5d1f20" data-blockingmode="auto" type="text/javascript"></script> -->
    <!--Stripe-->
     <script src="https://js.stripe.com/v3/"></script>
     <!-- Google sign In -->
     <!-- <script src="https://apis.google.com/js/platform.js" async defer></script> -->