<!DOCTYPE html>
<html>
    <head>
    <!--Partial HEAD -->
    <%- include('partials/head'); %> 
<title>Acerca de</title>
    <!-- Agregar estilos al body  -->
    <link rel="stylesheet" href="stylesheets/style.css">
    </head>
    <body id ="ad">
    <!--Partial Menú-->
    <%- include('partials/navbar'); %>
        <h1 id ="h">Acerca de  KPOPZONE</h1> 
    
        <p id = "p">Somos una comunidad de fanaticos del <black> KPOP</black>. Aquí podrás conocer las noticias más recientes
           de tus artistas favoritos, próximos comebacks.<br>
                                            Todo acerca de KPOP, solo en KZ.
        </p>  
        <img src="/images/dyna.jpg" width="300" height="450" id="image"/>
        <br>
        <br>
        
        <!--Partial Scripts-->
         <%- include('partials/script'); %> 
    </body>
    <footer>
        <!--Partial Footer-->
         <%- include('partials/footer'); %> 
    </footer>
</html>