<!DOCTYPE html>
<html>
  <head>
    <!--Partial HEAD -->
    <%- include('partials/head'); %>

  </head>
  <body>
   <!--Partial Menú-->
   <%- include('partials/navbar'); %>

   <div class="jumbotron">
    <h1 class="display-4">Bienvenido a NodeJS & Express!</h1>
    <p class="lead">Este es un ejemplo básico</p>
    <hr class="my-4">
    <p>Mi primer sitio básico con Express</p>
    <a class="btn btn-dark btn-lg" href="#" role="button">Learn more</a>
  </div>  

</div>

  <!--Partial Scripts-->
  <%- include('partials/script'); %>
  </body>
</html>
