<!DOCTYPE html>
<html>
  <head>
    <!--Partial HEAD -->
    <%- include('partials/head'); %>
    <!-- Agregar estilos al body  -->
    <link rel="stylesheet" href="stylesheets/style.css">

  </head>
  <body>
   <!--Partial Menú-->
   <%- include('partials/navbar'); %>

   <div class="jumbotron">
    <h1 class="display-4">Bienvenido a KPOPZONE!</h1>
    <p class="lead">Un sitio dedicado al KPOP</p>
    <hr class="my-4">
    <p>Estas son las noticias del momento</p>
    <a class="btn btn-dark btn-lg" href="/acercade" role="button">Learn more</a>
  </div>  

</div>

  <!--Partial Scripts-->
  <%- include('partials/script'); %>
  </body>
  <footer>
    <!--Partial Footer-->
     <%- include('partials/footer'); %> 
</footer>
</html>
