<!DOCTYPE html>
<html>
  <head>
    <!--Partial HEAD -->
    <%- include('partials/head'); %>
       <!-- hoja de estilo -->
       <link rel="stylesheet" href="stylesheets/style.css">

  </head>
  <body>
   <!--Partial Menú-->
   <%- include('partials/navbar_con_us'); %>

   <div class="jumbotron">
    <h1 class="display-4">Bienvenido a KPOPZONE!</h1>
  </div>

</div>

  <!--Partial Scripts-->
  <%- include('partials/script'); %>
  </body>
  <footer>
    <!--Partial Footer-->
     <%- include('partials/footer'); %> 
</footer>
</html>