<!DOCTYPE html>
<html>
  <head>
    <!--Partial HEAD -->
    <%- include('../partials/head'); %>
    <!-- Agregar estilos al body  -->
    <link rel="stylesheet" href="stylesheets/style.css">

</head>
  <body style="margin:0">
 <!--Partial Menú--> 
 <%- include('../partials/navbar'); %>
 
    <div class="jumbotron">
        <h1 class="display-4">¡Obtén  KPOPZONE Premium!</h1>
        <br>
        <button class="btn btn-dark btn-lg" id="checkout-button">Checkout</button>
      </div>
      

  <!--Partial Scripts-->
  <%- include('../partials/script'); %>
  
  </body>
  <footer>
    <!--Partial Footer-->
     <%- include('../partials/footer'); %> 
</footer>
</html>
