<!DOCTYPE html>
<html>
    <head>
    <!--Partial HEAD -->
    <%- include('partials/head'); %> 
<title>Acerca de</title>
    <!-- Agregar estilos al body  -->
    <link rel="stylesheet" href="stylesheets/style.css">

    </head>
    <body >
    <!--Partial Menú-->
    <%- include('partials/navbar'); %>
        <h1>Acerca de  KPOPZONE</h1> 
    
        <p>
            
        </p>  

        <br>
        <br>
        <br>
        <!--Partial Scripts-->
         <%- include('partials/script'); %> 
    </body>
    <footer>
        <!--Partial Footer-->
         <%- include('partials/footer'); %> 
    </footer>
</html>