<!DOCTYPE html>
<html>
  <head>
    <!-- Partial HEAD -->
    <%- include('../partials/head'); %> 
        <title>geo</title>
    <!-- Agregar estilos al body  -->
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>

  <body style="border: 0; margin: 0px 0px ;">
    <!--Partial Menú-->
    <%- include('../partials/navbar'); %>
    <div id="map" style="width: 100%; height: 530px;"></div>


    <%- include('../partials/scriptgeo'); %>

  </body>
  <footer>
    <!--Partial Footer-->
     <%- include('../partials/footer'); %> 
</footer>
</html>